.color-picker {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .color-options {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    z-index: 999;
  }
  
  .color-option {
    width: 20px;
    height: 20px;
    margin: 5px;
    cursor: pointer;
  }
  