.details-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.details-button {
  background-color: #aeb4ba;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  width: 100%; 
  box-sizing: border-box;  
  text-align: center;  
  margin-bottom: 10px;
}

.details-button:hover {
  background-color: #0056b3;
}

.details-content {
  display: flex;
  flex-direction: column;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 10px;
}

.details-content .issue-detail {
  margin-bottom: 20px;
  
}

.details-content .label {
  font-weight: bold;
  margin-right: 1px;
}
.status-section {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.status-section label {
  margin-right: 10px;
}

:is(.status-section, .issue-detail) select {
  width: 140px;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

:is(.status-section, .issue-detail) select:hover {
  background-color: #0056b3;
  
}



.description-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.description-box button {
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #007bff;
  width: 50px;
}

.description-icon-button{
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background-color: #007bff;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: #0056b3; 
  }
}

.description-box textarea {
  flex: 1;
  border-radius: 5px;
  resize: vertical;
  font-family: unset;
  border: 1px solid #ccc;
}

.issue-detail {
  display: flex;
}

.issue-detail > .label {
  flex: 1;
}
.issue-detail > :not(.label) {
  flex: 2;
}