.header-issue {
  display: flex;
  justify-content: space-between;

  
}

.expand-button,
.issue-close-button {
  margin-left: 5px; 
}

.issue-close-button,
.expand-button {
  cursor: pointer;
  border: none;
  padding: 1px; 
  border-radius: 2px; 
  width: auto; 
  transition: background-color 0.3s;
}

.expand-button {
  background-color: #007bff;
  color: white;
  font-size: 3px; 
}

.expand-button:hover {
  background-color: #0056b3;
}

.issue-close-button {
  background-color: #007bff;
  color: white;
  font-size: 3px; 
}

.issue-close-button:hover {
  background-color: #0056b3;
}

.header-issue.expanded {
  max-height: 20px; 
}

p.issue-date {
  margin: 0;
  font-size: 13px; 
  color: #6c757d;
  visibility: hidden;
}

.header-issue.expanded p.issue-date {
  visibility: visible;
}
